#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
# se debe reamplazar jorge por su nombre de dominio del anterior modulo sin el .com
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo  
  expire: False

users:
  - name: migueldiaz
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDf2EdQjCTJqO2GXYvqoBY21/P3JE8T/YQ3ClWYQqbrBRNhhXbDV2lyK3XMRBMgnuyzOt4uYMQ92cKPWYPzTp6WLd7X7mWySdUrowwC5gN+w9lN5xYwD6/m9NQrikFJtVgEAVtQvBf+MPDv49z9LwgUr93UTS5WZfWVpnlHZTB2XiDfJLf4y6fLTu+SDytpWoYHmiy056b9nXUJpba50rPvwvpoxNDsRFAv4KQ3w7oBpO4kzv1Fj67qLpZ3Rvoim+sQl7QUILBiGz+Yp2DhOsaK60mR2kXbSOCEWhsTb7p8MxRaYmgYFzIpD9nCUlr9BUG/CbLnSvRVVNPhz/K208VMsTrZM22YKuanKqhi3ABdPeh/iDPsFQASu58PPPtZqsxVe9+x8UPU/kP0kScyrmfOS4uunCExcQ2r1876VxPSb0eghZO0egiGhbdyM3jrrIG3JhDMaAJs8b94SyfMjifNmKAbic99u/jHkUT4f8ooU+HcYYQnGoBodc6O3SOtrr8= migueldiaz@migueldiaz-Virtual-Machine
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo

